*{
    margin:0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    max-width:700px;
    margin: 0 auto 20px;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing:antialiased !important;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin-top:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 30px;
    border-bottom:  1px solid #ee4d64;
}

header span {
    font-size:13px;
    font-style: italic;
    color:#555;
}

header img{
    margin-bottom: 10px;
}

.data {
    margin-top:30px;
    border: 1px solid #ddd;    
    border-radius: 12px;
    padding: 5px 10px;
}

.title {
    font-size:17px;
    margin-bottom:4px ;
}

.data ul li {
    list-style: none;
    line-height: 30px;
    margin-left: 20px;
    font-size:16px;
}

.data ul li .destaque{
    padding: 3px;
    background-color: #ee4d6541;
    border-radius: 6px;
    font-size:12px;
    font-weight: 600;
}

.info {
    margin-top:20px;
    line-height: 18px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}

.info p {
    border:1px solid #ddd;
    padding: 5px;
    border-radius: 6px;
    width:48%;
    
}

.info .destaque {
    font-weight: 600;
    border-bottom:1px solid #ee4d6470;
}

footer {
    margin-top:50px;
    display:flex ;
    justify-content: center;
    font-size:13px;
    font-weight: bold;
}   